opencv-python>=4.5.0 #Core library for video capture, drawing, and UI overlays.
mediapipe>=0.8.0 #Provides hand detection and landmark tracking functionality.
numpy>=1.19.0 #Handles array operations and image data processing.
pyttsx3>=2.90 #Acting as a basic voice assistant
